
body {
    background-image: url(https://hpmedia.bloomsbury.com/rep/g/page-background-shell%20-%202.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}


p,h1, h2 {
    color: floralwhite;
}

.hp {
    width: 250px;
    height: 300px;
}

.ron {
    width: 350px;
    height: 300px;
}
.jk {
    width: 350px;
    height: 300px;
}
.hog {
    width: 350px;
    height: 300px;
}

/*Menu e formatação do menu */

nav#menu ul{

    list-style: none;

    /*Tornam todas as letras maiusculas*/
    text-transform: uppercase;

    /* Dar a lista uma posição absoluta para que so el aflutue pela tela 
    (dentro do nav a posição relativa permite mecher na lista apenas dentro doconteiner nav) */
    position: absolute;

    top: 4px;

    /*    Distância do lado esquerdo*/
    left: 250px;
}


nav#menu li {
    /*Formata os itens de formatação bertical para horizontal*/
    display: inline-block;

    /*   Cor de fundo */
    background-color: #dddddd;

    /*Dá o espaçamento dentro das caixas dos itens*/
    padding: 10px;

    /*Dá um espaçamento entre as margens dos itens */
    margin: 5px;

    /*Atrasa o escurecimento dos botões, funciona como um monitoramento do background-color, não esta implementado en todos os navegadores  */
    transition: background-color 1s;
}

nav#menu li:hover {
    /*    Efeito de escurecimento dos botões*/
    background-color: #606060;
}




/*Esconder o titulo menu*/

nav#menu h1 {

    display: none;
}

nav#menu a {
    color: blue;
    text-decoration: none;
}

nav#menu a:hover {

    color: blue;
}

#rodape
{
	list-style: none;
}

#rodape li
{
	display: inline;
	color: white;
	padding: 10px;
}

footer
{
	width: 500px;
	position: absolute;
	left: 30%;
}
