
body {
    background-image: url(https://hpmedia.bloomsbury.com/rep/g/page-background-shell%20-%202.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}


p,h1 {
    color: floralwhite;
}

.hp {
    width: 250px;
    height: 300px;
}

.ron {
    width: 350px;
    height: 300px;
}


header{
    
	background-image: url("http://2.bp.blogspot.com/-t4xCtQlIKwg/Uk9_x8QNKFI/AAAAAAAAA08/3F9f34FpNfA/s1600/11_-_capa_para_facebook_harry_potter.png");
    background-size: contain;
	border-bottom: 3px solid #6C7B8B;
    background-attachment: fixed;
    
} 

/*Menu e formatação do menu */

nav#menu ul {

    list-style: none;

    /*Tornam todas as letras maiusculas*/
    text-transform: uppercase;

    /* Dar a lista uma posição absoluta para que so el aflutue pela tela 
    (dentro do nav a posição relativa permite mecher na lista apenas dentro doconteiner nav) */
    position: absolute;

    top: 4px;

    /*    Distância do lado esquerdo*/
    left: 250px;
}


nav#menu li {
    /*Formata os itens de formatação bertical para horizontal*/
    display: inline-block;

    /*   Cor de fundo */
    background-color: #dddddd;

    /*Dá o espaçamento dentro das caixas dos itens*/
    padding: 10px;

    /*Dá um espaçamento entre as margens dos itens */
    margin: 5px;

    /*Atrasa o escurecimento dos botões, funciona como um monitoramento do background-color, não esta implementado en todos os navegadores  */
    transition: background-color 1s;
}

nav#menu li:hover {
    /*    Efeito de escurecimento dos botões*/
    background-color: #606060;
}



/*Esconder o titulo menu*/

nav#menu h1 {

    display: none;
}

nav#menu a {
    color: blue;
    text-decoration: none;
}

nav#menu a:hover {

    color: blue;
}


/*Edição das imagens */

section#grifinoria img.imagem1, img.imagem2, img.imagem3  {

    position: relative;
    border: 8px solid none;
    box-shadow: 1px 3px 4px black;
    transition: background-color 2s;
}



section#grifinoria img.imagem1:hover, img.imagem2:hover, img.imagem3:hover{
    
     background-color: rgba(0, 0, 0, .4);
    
}


