body {
    background-image: url(https://hpmedia.bloomsbury.com/rep/g/page-background-shell%20-%202.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

p,h1 {
    color: floralwhite;
}

.hp {
    width: 250px;
    height: 300px;
}

.ron {
    width: 350px;
    height: 300px;
}